<!DOCTYPE html>
<html>
<head>
<title>Complete your Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/profile.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-ui-1.10.4.css'}"
	type="text/javascript"></script>
<script src="@{'/public/javascripts/jquery-ui-1.10.4.js'}"
	type="text/javascript"></script>
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
	type="text/javascript"></script>

</head>
<body>
	<div style="margin-left: 280px; margin-right: 256px;margin-top: 30px;"">
		<ul id="tabs">
			<li><a href="#" name="tab1"><h4>Edit Your Profile</h4></a></li>
		</ul>

		<div id="profileContent">
			<div id="tab1" style="margin-left: 30px;">
				#{form @editProfileData(), id:'editProfile'} #{field
				'SubmitProfile.firstName'}
				<div class="form-group">
					<label for="firstname" class="col-md-2"> First Name: </label>
					<div class="col-md-10">
						<input type="text" value="${submitProfile?.firstName}"
							name="submitProfile.firstName" class="form-control"
							id="firstname">
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.lastName'}
				<div class="form-group">
					<label for="lastname" class="col-md-2"> Last Name: </label>
					<div class="col-md-10">
						<input type="text" value="${submitProfile?.lastName}"
							name="submitProfile.lastName" class="form-control" id="lastname">
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.email'}
				<div class="form-group">
					<label for="emailaddress" class="col-md-2"> Email address:
					</label>
					<div class="col-md-10">
						<input type="email" value="${submitProfile?.email}"
							disabled="disabled" name="submitProfile.email"
							class="form-control" id="emailaddress" required="required">
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.studyProgram'}
				<div class="form-group">
					<label for="studyProgram" class="col-md-2"> Study Program:
					</label>
					<div class="col-md-10">
						<input type="text" value="${submitProfile?.studyProgram}"
							name="submitProfile.studyProgram" class="form-control"
							id="studyProgram" placeholder="Study Program">
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.university'}
				<div class="form-group">
					<label for="university" class="col-md-2"> University: </label>
					<div class="col-md-10">
						<input type="text" value="${submitProfile?.university}"
							class="form-control" name="submitProfile.university"
							id="university" placeholder="University">
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.semester'}
				<div class="form-group">
					<label for="semester" class="col-md-2"> Semester: </label>
					<div class="col-md-10">#{ select 'submitProfile.semester',
						items:semester /}</div>
				</div>
				#{/field} #{field 'SubmitProfile.city'}
				<div class="form-group">
					<label for="city" class="col-md-2"> City: </label>
					<div class="col-md-10">
						<input type="text" value="${submitProfile?.city}"
							class="form-control" name="submitProfile.city" id="city"
							placeholder="City">
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.skills'}
				<div class="form-group">
					<label for="skills" class="col-md-2"> Skills: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"
							value="${submitProfile?.skills}" name="submitProfile.skills"
							id="skills" placeholder="Skills">
							<label for="information" id="labelMessage">Please list multiple skills
							separated by comma.</label> <br />
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.courses'}
				<div class="form-group">
					<label for="courses" class="col-md-2"> Courses this
						semester: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"
							value="${submitProfile?.courses}" id="courses"
							name="submitProfile.courses" placeholder="Courses">
							<label for="information" id="labelMessage">Please list multiple courses
							separated by comma.</label> <br />
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.projects'}
				<div class="form-group">
					<label for="projects" class="col-md-2"> Ongoing Projects: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"
							value="${submitProfile?.projects}" id="projects"
							name="submitProfile.projects" placeholder="Projects">
							<label for="information" id="labelMessage">Please list multiple projects
							separated by comma.</label> <br />
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.helpRequired'}
				<div class="form-group">
					<label for="projects" class="col-md-2"> Help Required: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"
							value="${submitProfile?.helpRequired}" id="helpRequired"
							name="submitProfile.helpRequired" placeholder="Help Required">
							<label for="information" id="labelMessage">Please list multiple subjects
							separated by comma.</label> <br />
					</div>
				</div>
				#{/field} #{field 'SubmitProfile.details'}
				<div class="form-group">
					<label for="projects" class="col-md-2"> Description About
						Me: </label>
					<div class="col-md-10">
						<textarea class="form-control" id="details"
							name="submitProfile.details" placeholder="Details"
							style="text-align: left; width: 325px; height: 123px;">
						</textarea>
					</div>
				</div>
				#{/field}
				<div class="form-group">
					<label for="uploadimage" class="col-md-2"> Upload Image: </label>
					<div class="col-md-10">
						<input type="file" name="uploadimage" id="uploadimage">
						<button type="submit" class="btn btn-info">Upload Image</button>
						<p class="help-block">Allowed formats: jpeg, jpg, gif, png</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-10">
						<button type="submit" style="margin-bottom: 10px;"
							class="btn btn-success btn-large">Submit</button>
					</div>
				</div>
				#{/form}
			</div>
		</div>
	</div>
</body>
</html>